
HbTextEdit#textItem::text
{
    left: var(hb-param-margin-gene-middle-horizontal);
    right: -var(hb-param-margin-gene-middle-horizontal);
    top: 0.0un;
    bottom: 0.0un;
}

UniViewerBodyWidget[hasText="true"]:portrait
{
  layout: layout-portrait;
}

UniViewerBodyWidget[hasText="false"]:portrait
{
  layout: layout-portrait-no-text;
}

UniViewerBodyWidget:landscape
{
  layout: layout-landscape;
}

UniViewerBodyWidget[hasText="true"][hasPixmap="false"]:landscape
{
  layout: layout-landscape-no-pixmap;
}

UniViewerBodyWidget[hasText="false"][hasPixmap="true"]:landscape
{
  layout: layout-landscape-no-text;
}

UniViewerBodyWidget::slideCounter
{
  left:-var(hb-param-margin-gene-left);
  top:-var(hb-param-margin-gene-middle-vertical);
  right:var(hb-param-margin-gene-right);
  text-height:var(hb-param-text-height-tiny);
  text-line-count-min:1;
  text-line-count-max:1;
  text-align:left;
  font-variant:secondary;
}

UniViewerBodyWidget::pixmap
{
  aspect-ratio:keep;
  size-policy-vertical:fixed;
  size-policy-horizontal:fixed;
}


UniViewerBodyWidget::pixmap:portrait
{
  top:-var(hb-param-margin-gene-middle-vertical);
  left:-var(hb-param-margin-gene-left);
  right:var(hb-param-margin-gene-right);
}

UniViewerBodyWidget[hasText="false"]::pixmap:portrait
{
  bottom:var(hb-param-margin-gene-bottom);
}

UniViewerBodyWidget[hasText="true"]::pixmap:landscape
{
  top:-var(hb-param-margin-gene-middle-vertical);
  left:-var(hb-param-margin-gene-left);
  right:1un;
}

UniViewerBodyWidget::overlayItem
{
  zvalue:1;
  size-policy-vertical:fixed;
  size-policy-horizontal:fixed;
  pref-width:var(hb-param-graphic-size-primary-large);
  pref-height:var(hb-param-graphic-size-primary-large);
}

UniViewerBodyWidget[hasText="false"]::pixmap:landscape
{
  top:-var(hb-param-margin-gene-middle-vertical);
  left:-var(hb-param-margin-gene-left);
  right:var(hb-param-margin-gene-right);
  bottom:var(hb-param-margin-gene-bottom);
}

UniViewerBodyWidget::audioItem
{
  left:-var(hb-param-margin-gene-left);
  top:-var(hb-param-margin-gene-middle-vertical);
  right:var(hb-param-margin-gene-right);
}

UniViewerBodyWidget::textItem
{
  text-height:var(hb-param-text-height-secondary);
  text-line-count-min:1;
  text-line-count-max:100;
  text-align: left top;
  font-variant:secondary;
}

UniViewerBodyWidget::textItem:portrait
{
  top:-var(hb-param-margin-gene-middle-vertical);
  left:-var(hb-param-margin-gene-left);
  right:var(hb-param-margin-gene-right);
}

UniViewerBodyWidget[hasPixmap="true"]::textItem:landscape
{
  left:-1un;
  top:-var(hb-param-margin-gene-middle-vertical);
  right:var(hb-param-margin-gene-right);
  bottom:var(hb-param-margin-gene-bottom);
}

UniViewerBodyWidget[hasPixmap="false"]::textItem:landscape
{
  top:-var(hb-param-margin-gene-middle-vertical);
  left:-var(hb-param-margin-gene-left);
  right:var(hb-param-margin-gene-right);
  bottom:var(hb-param-margin-gene-bottom);
}

