
UniViewerAttachmentWidget[state="normal"]::text-1
{
  color:var(qtc_list_item_title_normal);
}

UniViewerAttachmentWidget[state="pressed"]::text-1
{
  color:var(qtc_list_item_pressed);
}

UniViewerAttachmentWidget[state="normal"]::text-2
{
  color:var(qtc_list_item_title_normal);
}

UniViewerAttachmentWidget[state="pressed"]::text-2
{
  color:var(qtc_list_item_pressed);
}
