HbGridViewItem[layoutName="GridView"]::icon:portrait{
	left:0un;
	top:0un;
	right:0un;
	bottom:0un;
    fixed-width:17.761un;
    fixed-height:15.373un;
}

HbGridViewItem[layoutName="GridView"]::icon:landscape{
	left:0un;
	top:0un;
	right:0un;
	bottom:0un;
    fixed-width:18.9552un;
    fixed-height:16.4179un;
}

HbGridViewItem[layoutName="GridView"]::multiselection-toucharea{
    fixed-width: 17un;
    fixed-height: 15un;
}

HbGridViewItem[layoutName="ImageStrip"]::icon:portrait{
	left:0px;
	top:0px;
	right:0un;
	bottom:0un;
    fixed-width:13.28358un;
    fixed-height:11.50546un;
}

HbGridViewItem[layoutName="ImageStrip"]::icon:landscape{
	left:0px;
	top:0px;
	right:0un;
	bottom:0un;
    fixed-width:14.179104un;
    fixed-height:12.2811un;
}

HbListViewItem::icon-1[graphicsSize="Thumbnail"]:portrait{
	fixed-height: 13.43283un;
	fixed-width: 15.522388un;
}

HbListViewItem::icon-1[graphicsSize="Thumbnail"]:landscape{
	fixed-height: 13.43283un;
	fixed-width: 15.522388un;
}

HbListViewItem::selection-icon{
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}


