#1
[Test]
title CalenExporter: Test Exporting VCal.
create CCalenExporterTest testObject
testObject TestExporterVCal
delete testObject
[Endtest]
#2
[Test]
title CalenExporter: Test Exporting ICal.
create CCalenExporterTest testObject
testObject TestExporterICal
delete testObject
[Endtest]