<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Description of a Phone Plug-in</string>
	<key>IFPkgDescriptionTitle</key>
	<string>the phone plug-in</string>
</dict>
</plist>
