<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>iSyncToken</key>
    <array>
        <dict>
            <key>searchPlugin</key>
            <string>CommonAppSearch</string>
            <key>path</key>
            <string>/Applications/iSync.app</string>
            <key>identifier</key>
            <string>com.apple.isync</string>
        </dict>
    </array>
</dict>
</plist>
