
HbSlider::increment-icon
{
    color: var(qtc_list_item_title_normal);
}


HbSlider::decrement-icon
{
    color: var(qtc_list_item_title_normal);
}

HbSlider::icon-icon
{
    color: var(qtc_list_item_title_normal);
}



