ClockHomeCityItem::dateText{
    color: var(qtc_groupbox_normal);
}

ClockHomeCityItem::cityText{
    color: var(qtc_groupbox_normal);
}

ClockHomeCityItem::dstIcon{
    color: var(qtc_groupbox_normal);
}

ClockHomeCityItem::timeText{
    color: var(qtc_groupbox_normal);
}