ClockAlarmListItemPrototype::text-4{
    color: var(qtc_list_item_content_normal);
}

ClockAlarmListItemPrototype::text-4[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

ClockAlarmListItemPrototype::text-4[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

ClockAlarmListItemPrototype::alarmIconItem{
    color: var(qtc_list_item_content_normal);
}

ClockAlarmListItemPrototype::alarmIconItem[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

ClockAlarmListItemPrototype::alarmIconItem[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

ClockAlarmListItemPrototype::text-3{
    color: var(qtc_list_item_title_normal);
}

ClockAlarmListItemPrototype::text-3[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

ClockAlarmListItemPrototype::text-3[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

ClockAlarmListItemPrototype::text-1{
    color: var(qtc_list_item_content_normal);
}

ClockAlarmListItemPrototype::text-1[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

ClockAlarmListItemPrototype::text-1[state="disabled"]{
    color: var(qtc_list_item_disabled);
}