<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Nokia S60-32 v1.0, © Nokia</string>
	<key>CFBundleIdentifier</key>
	<string>nokia.com.phoneplugin.com.nokia.S6032</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nokia S60-32</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>556</string>
	<key>IPHPhoneConduitVersion</key>
	<string>597.0</string>
	<key>IPHPhonePluginUID</key>
	<string>367C0F5C-1E53-44A3-AEA5-54D1EEE12F29</string>
	<key>IPHPluginProviderName</key>
	<string>Nokia</string>
	<key>IPHPluginSupportURL</key>
	<string>http://www.nokia.com/support</string>
	<key>IPHPublicPluginVersion</key>
	<string>2.0</string>
</dict>
</plist>
