<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TramontaneVersion</key>
	<string>597.0</string>
	<key>UUID</key>
	<string>367C0F5C-1E53-44A3-AEA5-54D1EEE12F29</string>
	<key>properties</key>
	<dict>
		<key>BTOptionsDict</key>
		<dict>
			<key>OBEXTimeout</key>
			<string>60</string>
			<key>TransportType</key>
			<integer>0</integer>
			<key>synchroScriptConnect</key>
			<false/>
			<key>synchroScriptDisconnect</key>
			<false/>
		</dict>
		<key>UISettingsOptionsDict</key>
		<dict>
			<key>DontSyncEventsAfterDateIsEnabled</key>
			<dict>
				<key>default</key>
				<integer>0</integer>
				<key>visible</key>
				<true/>
			</dict>
			<key>DontSyncEventsAfterDateValue</key>
			<dict>
				<key>default</key>
				<string>1month</string>
				<key>visible</key>
				<true/>
			</dict>
			<key>DontSyncEventsPriorToDateIsEnabled</key>
			<dict>
				<key>default</key>
				<integer>0</integer>
				<key>visible</key>
				<false/>
			</dict>
			<key>DontSyncEventsPriorToDateValue</key>
			<dict>
				<key>default</key>
				<string>1week</string>
				<key>visible</key>
				<true/>
			</dict>
			<key>OnlySyncContactsWithPhoneNumber</key>
			<dict>
				<key>default</key>
				<integer>1</integer>
				<key>visible</key>
				<true/>
			</dict>
			<key>SyncAllDayEventsKey</key>
			<dict>
				<key>default</key>
				<integer>0</integer>
				<key>visible</key>
				<false/>
			</dict>
		</dict>
		<key>USBOptionsDict</key>
		<dict>
			<key>OBEXTimeout</key>
			<string>60</string>
			<key>identificationCDCChannel</key>
			<integer>0</integer>
			<key>identificationScriptConnect</key>
			<false/>
			<key>identificationScriptDisconnect</key>
			<false/>
			<key>synchroCDCChannel</key>
			<integer>1</integer>
			<key>synchroOBEXChannel</key>
			<integer>0</integer>
			<key>synchroScriptConnect</key>
			<false/>
			<key>synchroScriptDisconnect</key>
			<false/>
			<key>useOBEX</key>
			<true/>
			<key>useOtherCDC</key>
			<false/>
			<key>useSameCDC</key>
			<false/>
		</dict>
		<key>advancedOptionsSettings</key>
		<dict>
			<key>com_apple_pimsync_contacts</key>
			<dict>
				<key>DataClassName</key>
				<string>Contacts</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<real>1</real>
				<key>needsDeleteAddOnModify</key>
				<integer>1</integer>
			</dict>
			<key>com_apple_pimsync_events</key>
			<dict>
				<key>DataClassName</key>
				<string>Calendar</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<integer>0</integer>
				<key>allDayInLocalDateTime</key>
				<integer>1</integer>
				<key>allowedAlarmRelativeValues</key>
				<string></string>
				<key>countValueWhenMissing</key>
				<integer>0</integer>
				<key>defaultUntilDateWhenMissing</key>
				<string></string>
				<key>doNotSyncAlarmForADE</key>
				<false/>
				<key>doNotSyncAlarmIfAfterStartDateTime</key>
				<integer>1</integer>
				<key>dontSyncEventBeforeDate</key>
				<string></string>
				<key>exDatesAreDateOnly</key>
				<false/>
				<key>handleMultiDayRecurrent</key>
				<true/>
				<key>hasAllDayMultiDay</key>
				<true/>
				<key>maxMinutesNbDeltaForAlarm</key>
				<integer>0</integer>
				<key>needsDeleteAddOnModify</key>
				<integer>0</integer>
				<key>noNewLines</key>
				<integer>0</integer>
				<key>onlyAsciiCharacters</key>
				<false/>
				<key>syncAlarmOnlyIfSameDayAsADEStartDate</key>
				<false/>
				<key>untilDateIsDateOnly</key>
				<integer>1</integer>
			</dict>
			<key>com_apple_pimsync_parser_vCal</key>
			<dict>
				<key>AllDayCategories</key>
				<string>REMINDER</string>
				<key>EscapeBackslash</key>
				<integer>1</integer>
				<key>EscapeSemicolonInNotComponedValues</key>
				<integer>1</integer>
				<key>EscapeStrings</key>
				<string></string>
				<key>ExDatesInLocal</key>
				<false/>
				<key>IgnoreProperties</key>
				<string>X-IRMC-LUID</string>
				<key>PropertyNameMapping</key>
				<array/>
				<key>SetExDateTimeWithEndTime</key>
				<false/>
				<key>SetExDateTimeWithStartTime</key>
				<false/>
				<key>SetUntilTimeWithEndTime</key>
				<integer>0</integer>
				<key>SetUntilTimeWithStartTime</key>
				<integer>1</integer>
				<key>TimedCategories</key>
				<string>MEETING</string>
				<key>UntilDateInLocal</key>
				<integer>1</integer>
			</dict>
			<key>com_apple_pimsync_parser_vCard</key>
			<dict>
				<key>AddCRLFAfterBase64Folding</key>
				<integer>1</integer>
				<key>IgnoreSubTypesForThisMainTypes</key>
				<string>CELL</string>
				<key>PropertyNameMapping</key>
				<array>
					<dict>
						<key>key</key>
						<string>X-NICKNAME</string>
						<key>value</key>
						<string>X-EPOCSECONDNAME</string>
					</dict>
				</array>
			</dict>
			<key>com_apple_pimsync_tasks</key>
			<dict>
				<key>DataClassName</key>
				<string>Tasks</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<integer>0</integer>
				<key>completionDateIsDateOnly</key>
				<false/>
				<key>defaultDueDateValueWhenMissing</key>
				<string></string>
				<key>defaultDueDateWhenMissing</key>
				<string></string>
				<key>doNotSyncAlarmForTask</key>
				<false/>
				<key>doNotSyncAlarmIfCompleted</key>
				<integer>1</integer>
				<key>dueDateIsDateOnly</key>
				<false/>
				<key>needsDeleteAddOnModify</key>
				<false/>
				<key>setDueDateToCompletionDateIfCompleted</key>
				<false/>
			</dict>
			<key>com_apple_synchro</key>
			<dict>
				<key>SyncMLCodec</key>
				<integer>0</integer>
				<key>SyncMLDoNotTryToDetectPhoneDBReset</key>
				<false/>
				<key>SyncMLLocalSource</key>
				<string>iSync</string>
				<key>SyncMLMaxMsgSize</key>
				<real>65535</real>
				<key>SyncMLMaxObjSize</key>
				<real>786432</real>
				<key>SyncMLMsgTemporization</key>
				<real>500000</real>
				<key>SyncMLNoPropertiesCapabilitiesInDevInf</key>
				<false/>
				<key>SyncMLSendDevInfIntoPutIfNoGetReceived</key>
				<integer>0</integer>
				<key>SyncMLUseBinaryWBXMLPublicID</key>
				<false/>
			</dict>
		</dict>
		<key>calendarsOptionsDict</key>
		<dict>
			<key>Charset</key>
			<string>UTF-8</string>
			<key>FoldingStyle</key>
			<string>FoldingNG</string>
			<key>RemoteName</key>
			<string>/</string>
			<key>allDayFormat</key>
			<integer>3</integer>
			<key>eventRecurrenceEndType</key>
			<integer>1</integer>
			<key>hasAudioAlarm</key>
			<true/>
			<key>hasDisplayAlarm</key>
			<false/>
			<key>hasEvent</key>
			<true/>
			<key>hasTimeZone</key>
			<integer>1</integer>
			<key>hasVCalRecurrence</key>
			<true/>
		</dict>
		<key>contactsOptionsDict</key>
		<dict>
			<key>RemoteName</key>
			<string>/</string>
			<key>firstAndLastNameInSameField</key>
			<false/>
			<key>needsCompanyNameInFirstName</key>
			<integer>0</integer>
			<key>needsFullAddressInStreetField</key>
			<false/>
		</dict>
		<key>documentVersion</key>
		<integer>556</integer>
		<key>extraOptionsSettings</key>
		<dict/>
		<key>familyOptionsDict</key>
		<dict>
			<key>BTAvailable</key>
			<true/>
			<key>BluetoothAvailable</key>
			<true/>
			<key>CGMI</key>
			<string>Nokia</string>
			<key>CGMM</key>
			<string>Nokia 6290</string>
			<key>GMI</key>
			<string>Nokia</string>
			<key>GMM</key>
			<string>Nokia 6290</string>
			<key>ModelID</key>
			<string>com.nokia.S6032</string>
			<key>Name</key>
			<string>S60-32</string>
			<key>PluginProviderName</key>
			<string>Nokia</string>
			<key>ProductID</key>
			<string>0x0500</string>
			<key>USBAvailable</key>
			<true/>
			<key>VendorID</key>
			<string>0x0421</string>
			<key>connection</key>
			<integer>2</integer>
			<key>constructorName</key>
			<string>Nokia</string>
			<key>domainName</key>
			<string>nokia.com</string>
			<key>fixedDatabasesNames</key>
			<integer>0</integer>
			<key>pluginVersion</key>
			<string>1.0</string>
			<key>supportURL</key>
			<string>http://www.nokia.com/support</string>
			<key>useCGMICGMM</key>
			<false/>
		</dict>
		<key>javaScriptDict</key>
		<dict>
			<key>btObexConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>btObexDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbCdcConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbCdcDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbObexConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbObexDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
		</dict>
		<key>notes</key>
		<data>
		WW91IGNhbiBzYXZlIGFueSBraW5kIG9mIGluZm9ybWF0aW9uIG9uIHRoZSBw
		bHVnaW4gaGVyZS4KVGhleSB3b24ndCBiZSBleHBvcnRlZCBpbiB0aGUgcGx1
		Z2luLg==
		</data>
		<key>syncFieldsSettings</key>
		<dict>
			<key>com_apple_calendars_Event</key>
			<dict>
				<key>classification</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PUBLIC</string>
							<key>originalValue</key>
							<string>public</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>private</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>confidential</string>
						</dict>
					</array>
				</dict>
				<key>description</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>500</real>
				</dict>
				<key>end date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>location</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>start date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>summary</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>500</real>
				</dict>
			</dict>
			<key>com_apple_calendars_Task</key>
			<dict>
				<key>classification</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PUBLIC</string>
							<key>originalValue</key>
							<string>public</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>private</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>confidential</string>
						</dict>
					</array>
				</dict>
				<key>completion date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>description</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>due date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>priority</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>originalValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>1</string>
							<key>originalValue</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>2</string>
							<key>originalValue</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>3</string>
							<key>originalValue</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>4</string>
							<key>originalValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>5</string>
							<key>originalValue</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>6</string>
							<key>originalValue</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>7</string>
							<key>originalValue</key>
							<integer>7</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>8</string>
							<key>originalValue</key>
							<integer>8</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>9</string>
							<key>originalValue</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>
				<key>status</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>DECLINED</string>
							<key>originalValue</key>
							<string>cancelled</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>NEEDS ACTION</string>
							<key>originalValue</key>
							<string>needsaction</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>COMPLETED</string>
							<key>originalValue</key>
							<string>completed</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>ACCEPTED</string>
							<key>originalValue</key>
							<string>inprocess</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>none</string>
						</dict>
					</array>
				</dict>
				<key>summary</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Contact</key>
			<dict>
				<key>birthday</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>company name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>department</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>first name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>image</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<integer>0</integer>
				</dict>
				<key>job title</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>last name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>middle name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>nickname</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>notes</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>1000</real>
				</dict>
				<key>suffix</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>title</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Date</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-ANNIVERSARY</string>
							<key>originalValue</key>
							<string>anniversary</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-DATE</string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
			</dict>
			<key>com_apple_contacts_Email Address</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>INTERNET</string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Phone Number</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>CELL</string>
							<key>originalValue</key>
							<string>mobile</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>FAX</string>
							<key>originalValue</key>
							<string>work fax</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>FAX</string>
							<key>originalValue</key>
							<string>home fax</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>main</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PAGER</string>
							<key>originalValue</key>
							<string>pager</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>2</integer>
					<key>charsToKeep</key>
					<string>0123456789+#*pw</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Related Name</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-FATHER</string>
							<key>originalValue</key>
							<string>father</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-MOTHER</string>
							<key>originalValue</key>
							<string>mother</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-PARENT</string>
							<key>originalValue</key>
							<string>parent</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-CHILDREN</string>
							<key>originalValue</key>
							<string>child</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-BROTHER</string>
							<key>originalValue</key>
							<string>brother</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-SISTER</string>
							<key>originalValue</key>
							<string>sister</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-FRIEND</string>
							<key>originalValue</key>
							<string>friend</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-SPOUSE</string>
							<key>originalValue</key>
							<string>spouse</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-PARTNER</string>
							<key>originalValue</key>
							<string>partner</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-ASSISTANT</string>
							<key>originalValue</key>
							<string>assistant</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-MANAGER</string>
							<key>originalValue</key>
							<string>manager</string>
						</dict>
						<dict>
							<key>activated</key>
							<false/>
							<key>mappedValue</key>
							<string>X-NAME</string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Street Address</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>city</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>country</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>postal code</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>state</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>street</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
					<key>relationshipLimitKind</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>com_apple_contacts_URL</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home page</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>1</integer>
					<key>charsToStrip</key>
					<string>\r,\n</string>
					<key>maxLength</key>
					<real>500</real>
				</dict>
			</dict>
		</dict>
		<key>syncMLOptionsDict</key>
		<dict>
			<key>SyncMLBusySignalingInterval</key>
			<real>60</real>
			<key>SyncMLBusySignalingSupport</key>
			<true/>
			<key>SyncMLLargeObjectSupport</key>
			<true/>
			<key>SyncMLMaxSyncCmdNbInEncodedMsg</key>
			<real>30</real>
			<key>SyncMLNumberOfChangesSupport</key>
			<true/>
			<key>SyncMLOnlyOneBusySignaling</key>
			<false/>
			<key>SyncMLRefreshFromServerSupport</key>
			<true/>
			<key>SyncMLRemoteNeedsRelativePaths</key>
			<false/>
			<key>SyncMLSimulateBusySignalingWithEmptySync</key>
			<false/>
			<key>SyncMLVersion</key>
			<string>SyncML11</string>
			<key>limitSyncCmd</key>
			<false/>
		</dict>
		<key>tasksOptionsDict</key>
		<dict>
			<key>RemoteName</key>
			<string>Tasks</string>
			<key>hasDifferentDataclassesForTasksAndEvents</key>
			<false/>
			<key>hasTasks</key>
			<true/>
		</dict>
		<key>vCalRecSettings</key>
		<dict>
			<key>com_apple_pimsync_events</key>
			<dict>
				<key>handleAllDayRecurrent</key>
				<true/>
			</dict>
			<key>com_apple_pimsync_parser_vCal</key>
			<dict>
				<key>vCalExDatesSupport</key>
				<true/>
				<key>vCalRecDaily</key>
				<true/>
				<key>vCalRecDailyInterval</key>
				<string></string>
				<key>vCalRecDropIfUseless</key>
				<integer>1</integer>
				<key>vCalRecMaxExDatesNb</key>
				<integer>0</integer>
				<key>vCalRecMonthlyByDay</key>
				<true/>
				<key>vCalRecMonthlyByDayOnlyOnStartDateMonthDay</key>
				<false/>
				<key>vCalRecMonthlyByDayOnlyOneMonthDay</key>
				<false/>
				<key>vCalRecMonthlyByDayWithMonthDay</key>
				<true/>
				<key>vCalRecMonthlyByPos</key>
				<true/>
				<key>vCalRecMonthlyByPosOnlyOnStartDateWeekDay</key>
				<false/>
				<key>vCalRecMonthlyByPosOnlyOneWeekDay</key>
				<false/>
				<key>vCalRecMonthlyInterval</key>
				<string></string>
				<key>vCalRecOnlyForever</key>
				<false/>
				<key>vCalRecWeekly</key>
				<true/>
				<key>vCalRecWeeklyInterval</key>
				<string></string>
				<key>vCalRecWeeklyOnlyOnStartDateWeekDay</key>
				<false/>
				<key>vCalRecWeeklyOnlyOneWeekDay</key>
				<false/>
				<key>vCalRecWeeklyWithWeekDay</key>
				<true/>
				<key>vCalRecYearlyByMonth</key>
				<true/>
				<key>vCalRecYearlyByMonthInterval</key>
				<string></string>
				<key>vCalRecYearlyByMonthOnlyOnStartDateMonthNumber</key>
				<false/>
				<key>vCalRecYearlyByMonthOnlyOneMonthNumber</key>
				<false/>
				<key>vCalRecYearlyByMonthWithMonthNumber</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
