html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
img { 
	border-style: none; 
}
a {
	outline: none;
}
img#bgimage {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
img#nokia_logo {
	height:15%;
	display:block;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
}
img#browser_logo {
	height:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img#back_button {
	margin-top:10px;
	height:60px;
}
#content {
	position:relative;
	z-index:1;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}
#rel_note_body {
	position:relative;
	z-index:1;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}
#row1_logos {
	height:40%;
}
#buttons {
	height:40%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#bottom_pad {
	height:20%;
}
#jerry_sez {
	text-align: center;
	margin: auto;
	display: none;
	position: absolute;
	left: 20%;
}
#release_version {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:700;
	text-align:center;
	letter-spacing:0px;
	color:#666666;
}
#browser_version {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4px;
	padding-bottom: 8px;
	text-align:center;
	font-size: 14px;
	color: #666666;
}
#roman_num {
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:0px;
}
img.button {
	padding-top:4px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}
img.button_p {
	padding-top:7px;
	padding-bottom:7px;
	padding-right:13px;
	padding-left:7px;
}
li {
	padding-top: 10px;
	margin-right: 20px;
}
h4 {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}
