CntContactCardHeadingItem::first_line_text{
    color: var(qtc_groupbox_normal);
}

CntContactCardHeadingItem::primary_text{
    color: var(qtc_groupbox_normal);
}

CntContactCardHeadingItem::second_line_text{
    color: var(qtc_groupbox_normal);
}

CntContactCardHeadingItem::secondary_text{
   color: var(qtc_groupbox_normal);
}

CntContactCardHeadingItem::marquee_item{
   color: var(qtc_groupbox_normal);
}
