CntEditViewHeadingItem[state = "normal"]::text{
    color: var(qtc_groupbox_normal);
}

CntEditViewHeadingItem[state = "normal"]::second_text{
    color: var(qtc_groupbox_normal);
}

CntEditViewHeadingItem[state = "pressed"]::text{
    color: var(qtc_groupbox_pressed);
}

CntEditViewHeadingItem[state = "pressed"]::second_text{
    color: var(qtc_groupbox_pressed);
}

