HsBookmarkWidget {
    layout: icon_bookmark;
}

HsBookmarkWidget[bookmarkTitle] {
    layout: icon_text_bookmark;
}

HsBookmarkWidget[!bookmarkTitle] {
    layout: icon_bookmark;
}

HsBookmarkWidget::background {
    border-width: 0.0un;
    fixed-width: 12un;
    fixed-height: 12un;
    zvalue: 0;
}

HsBookmarkWidget[bookmarkTitle]::background {
    border-width: 0.0un;
    fixed-width: 12un;
    fixed-height: expr(12.5un + var(hb-param-text-height-tiny));
    zvalue: 0;
}

HsBookmarkWidget[!bookmarkTitle]::background {
    border-width: 0.0un;
    fixed-width: 12un;
    fixed-height: 12un;
    zvalue: 0;
}

HsBookmarkWidget::icon{
    left: -0.5un;
    right: 0.5un;
    top: -0.5un;
    bottom: 0.5un;
    fixed-width: 11.0un;
    fixed-height: 11.0un;
    zvalue: 1;
}

HsBookmarkWidget::bookmarkTitle{
    left: -0.5un;
    right: 0.5un;
    top: 0.0un;
    bottom: 0.5un;
    fixed-width: 11.0un;
    font-variant: secondary;
    text-align: center center;
    text-height: var(hb-param-text-height-tiny);
    text-line-count-max: 1;
    color: var(qtc_hs_list_item_title_normal);
    zvalue: 2;
}

HsBookmarkWidget::toucharea {  
    zvalue: 3;
}
