
MsgUnifiedEditorAttachment[state="normal"]::attachmentDetails
{
  color:var(qtc_list_item_title_normal);
}

MsgUnifiedEditorAttachment[state="pressed"]::attachmentDetails
{
  color:var(qtc_list_item_pressed);
}

MsgUnifiedEditorAttachment[state="normal"]::attachmentName
{
  color:var(qtc_list_item_title_normal);
}

MsgUnifiedEditorAttachment[state="pressed"]::attachmentName
{
  color:var(qtc_list_item_pressed);
}
