#ZoomBarId {
  width: 145px;
  height: 85px;
}

#zoomBarDiv {
  background-image: url(icons/zoom_menu_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  width: 143px;
  height: 83px;
  -webkit-user-select: none;
}

.zoomBarBtn {
  height: 58px;
  width: 58px;
  padding-left: 10px;
  padding-top: 5px;
  float:left;
}


