

HbPushButton#callApp
{
    fixed-width:  9.0un;
    fixed-height: 9.0un;
}

HbPushButton#callApp::icon
{
    fixed-width:  8.0un;
    fixed-height: 8.0un;
}

HbPushButton#callApp::Spacer
{
    fixed-width: 0.0un;
    fixed-height: 0.0un;
}

HbPushButton#msgApp
{
    fixed-width:  9.0un;
    fixed-height: 9.0un;
}

HbPushButton#msgApp::icon
{
    fixed-width:  8.0un;
    fixed-height: 8.0un;
}

HbPushButton#msgApp::Spacer
{
    fixed-width: 0.0un;
    fixed-height: 0.0un;
}


HbPushButton#emailApp
{
    fixed-width:  9.0un;
    fixed-height: 9.0un;
}

HbPushButton#emailApp::icon
{
    fixed-width:  8.0un;
    fixed-height: 8.0un;
}

HbPushButton#emailApp::Spacer
{
    fixed-width: 0.0un;
    fixed-height: 0.0un;
}

HbPushButton#phoneApp
{
    fixed-width:  9.0un;
    fixed-height: 9.0un;
}

HbPushButton#phoneApp::icon
{
    fixed-width:  8.0un;
    fixed-height: 8.0un;
}

HbPushButton#phoneApp::Spacer
{
    fixed-width: 0.0un;
    fixed-height: 0.0un;
}
