/*Albums TBone*/
HgMediawall#albumWall::title
{
    color: var(qtc_view_normal)
}

HgMediawall#albumWall::description
{
    color: var(qtc_view_normal_secondary)
}

/*Artist Albums TBone*/
HgMediawall#artistAlbumWall::title
{
    color: var(qtc_view_normal)
}

HgMediawall#artistAlbumWall::description
{
    color: var(qtc_view_normal_secondary)
}
