CalenEventListViewItem::text-1{
    color: var(qtc_list_item_content_normal);
}

CalenEventListViewItem::text-1[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::text-1[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

CalenEventListViewItem::text-2{
    color: var(qtc_list_item_title_normal);
}

CalenEventListViewItem::text-2[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::text-2[state="disabled"]{
    color: var(qtc_list_item_disabled);
}


CalenEventListViewItem::text-3{
    color: var(qtc_list_item_content_normal);
}

CalenEventListViewItem::text-3[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::text-3[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

CalenEventListViewItem::text-4{
    color: var(qtc_list_item_content_normal);
}

CalenEventListViewItem::text-4[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::text-4[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

CalenEventListViewItem::icon-2{
    color: var(qtc_list_item_title_normal);
}

CalenEventListViewItem::icon-2[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::icon-2[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

CalenEventListViewItem::icon-3{
    color: var(qtc_list_item_title_normal);
}

CalenEventListViewItem::icon-3[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::icon-3[state="disabled"]{
    color: var(qtc_list_item_disabled);
}

CalenEventListViewItem::icon-4{
    color: var(qtc_list_item_content_normal);
}

CalenEventListViewItem::icon-4[state="pressed"]{
    color: var(qtc_list_item_pressed);
}

CalenEventListViewItem::icon-4[state="disabled"]{
    color: var(qtc_list_item_disabled);
}