body{
  padding: 0px;
  margin: 0px;  
  font-size: 20px;
  background-color: #889cbf;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    }

#BottomPad {
    clear: both;
    padding: 8px 10px 8px 10px;
    height: 54px;
    }

.accordionButton {
    float: left;
    background: #AAAAAA;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    }
.accordionButtonGS {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    float: left;
    background: #E1F1FF;
    color:#283F52;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    }

.accordionButtonCD {
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    color:#283F52;
    background: #E1F1FF;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    }

.accordionButtonABT {
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    color:#283F52;
    background: #E1F1FF;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    }
    
.accordionContent {
    font-size: 20px;
    padding-left: 20px;
    float: left;
    background: #FFFFFF;
    color:#283F52;
    display: none;
    }

.settingstext {
    font-size: 20px;
    background: #FFFFFF;
    color:#283F52;
    }
