SnsrIndicatorWidget::icon1 
{
    color:var(qtc_screensaver);
}

SnsrIndicatorWidget::icon2 
{
    color:var(qtc_screensaver);
}

SnsrIndicatorWidget::icon3 
{
    color:var(qtc_screensaver);
}

SnsrIndicatorWidget::icon4 
{
    color:var(qtc_screensaver);
}

SnsrIndicatorWidget::icon5 
{
    color:var(qtc_screensaver);
}

SnsrIndicatorWidget::icon6
{
    color:var(qtc_screensaver);
}