SnsrIndicatorWidget {
    layout: indicatorlayout;  
}

SnsrIndicatorWidget::icon1 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;   
}

SnsrIndicatorWidget::icon2 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;    
}

SnsrIndicatorWidget::icon3 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;  
}

SnsrIndicatorWidget::icon4 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;   
}

SnsrIndicatorWidget::icon5 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;   
}

SnsrIndicatorWidget::icon6 {
    fixed-width: 2.4un;
    fixed-height: 2.4un;  
}