RadioCarouselItem
{
    layout: default;
    size-policy-horizontal: fixed;
}

RadioCarouselItem::star_button
{
    top: -var(hb-param-margin-gene-top);
    left: -var(hb-param-margin-gene-left);
    pref-width: var(hb-param-graphic-size-primary-medium);
    pref-height: var(hb-param-graphic-size-primary-medium);
    size-policy-horizontal: fixed;
    size-policy-vertical: fixed;
}

RadioCarouselItem[landscape]::star_button
{
    pref-width: expr(var(hb-param-graphic-size-primary-medium)*0.9);
    pref-height: expr(var(hb-param-graphic-size-primary-medium)*0.9);
}

RadioCarouselItem[!landscape]::star_button
{
    pref-width: var(hb-param-graphic-size-primary-medium);
    pref-height: var(hb-param-graphic-size-primary-medium);
}

RadioCarouselItem::genre_label
{
    top: -var(hb-param-margin-gene-top);
    left: -var(hb-param-margin-gene-middle-horizontal);
    right: expr(var(hb-param-margin-gene-left) + var(hb-param-graphic-size-primary-medium) + var(hb-param-margin-gene-middle-horizontal));
    pref-height: var(hb-param-graphic-size-primary-medium);
    size-policy-vertical: fixed;
    size-policy-horizontal: expanding;
}

RadioCarouselItem::genre_label::text
{
    color: var(qtc_lcd_title_normal);
    font-variant: secondary;
    text-align: center center;
}

RadioCarouselItem[landscape]::genre_label::text
{
    text-height: expr(var(hb-param-text-height-secondary)*0.95);
}

RadioCarouselItem[!landscape]::genre_label::text
{
    text-height: var(hb-param-text-height-secondary);
}

RadioCarouselItem::name_label
{
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    size-policy-vertical: fixed;
    size-policy-horizontal: expanding;
}

RadioCarouselItem[appearance=Full]::name_label
{
    pref-height: 8un;
    top: 0un;
}

RadioCarouselItem[appearance!=Full]::name_label
{
    pref-height: 14un;
    top: 1.5un;
}

RadioCarouselItem::name_label::text
{
    color: var(qtc_lcd_title_normal);
    font-variant: primary;
    text-wrap-mode: no-wrap;
    text-align: center top;
}

RadioCarouselItem[appearance=Full][landscape]::name_label::text
{
    text-height: 7.6un;
}

RadioCarouselItem[appearance=Full][!landscape]::name_label::text
{
    text-height: 8un;
}

RadioCarouselItem[appearance!=Full]::name_label::text
{
    text-height: 14un;
}

RadioCarouselItem::rt_label
{
    top: -16un;
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    bottom: var(hb-param-margin-middle-vertical);
    size-policy-vertical: expanding;
}

RadioCarouselItem::rt_label::text
{
    color: var(qtc_lcd_title_normal);
    text-line-count-min: 1;
    font-variant: secondary;
}

RadioCarouselItem[appearance=Full]::rt_label::text
{
    text-line-count-max: 4;
    text-wrap-mode: word-wrap;
    text-align: center center;
}

RadioCarouselItem[appearance=Full][landscape]::rt_label::text
{
    text-height: expr(var(hb-param-text-height-secondary)*0.95);
    max-width: expr(var(hb-param-screen-width)/2 - var(hb-param-margin-gene-left) - var(hb-param-margin-gene-right) - var(hb-param-margin-gene-middle-horizontal) - var(hb-param-margin-gene-middle-horizontal)/2);
}

RadioCarouselItem[appearance=Full][!landscape]::rt_label::text
{
    text-height: var(hb-param-text-height-secondary);
    max-width: expr(var(hb-param-screen-width) - var(hb-param-margin-gene-left) - var(hb-param-margin-gene-right) - 2*var(hb-param-margin-gene-middle-horizontal));
}

RadioCarouselItem[appearance!=Full]::rt_label::text
{
    text-line-count-max: 1;
    text-wrap-mode: no-wrap;
    text-height: 5un;
    text-align: center center;
}

RadioCarouselItem::url_label
{
    left: -var(hb-param-margin-gene-left);
    right: var(hb-param-margin-gene-right);
    bottom: var(hb-param-margin-gene-bottom);
}

RadioCarouselItem::url_label::text
{
    font-variant: secondary;
    text-align: center center;
    color:var(qtc_lcd_link_normal);
}

RadioCarouselItem[landscape]::url_label::text
{
    text-height: expr(var(hb-param-text-height-secondary)*0.95);
}

RadioCarouselItem[!landscape]::url_label::text
{
    text-height: var(hb-param-text-height-secondary);
}

RadioCarouselItem::favorite_touch_area
{
    top: 0un;
    left: 0un;
    right: -8un;
    bottom: -4un;
}
